.book_button {
  transition: background-color 0.3s ease, transform 0.1s ease;
  background-color: #c55501;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  font-size: 1.5vw;
  color: white;
  outline: none;
  width: 20vw;
  height: 3vw;
}

.book_button:hover {
  background-color: #ff6b00;
  transform: scale(1.05);
}
