.contact {
  background-color: #f7f7f7;
  padding: 5rem 5rem;
}

.contact h1 {
  font-size: 50px;
}

.button {
  width: 15rem;
  height: 3rem;
  font-size: 20px;
  color: white;
  background-color: #0171c5;
}
