.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 1rem 10rem;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer a:hover {
  color: blue;
}
