.header {
  display: flex;
  padding: 1rem 2rem 2rem 2rem;
  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 175px;
  height: auto;
  border-radius: 30%;
}

.header img:hover {
  cursor: pointer;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.nav_container {
  display: flex;
  list-style: none;
  gap: 4rem;
  font-size: 20px;
  white-space: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.nav_container a:hover {
  cursor: pointer;
}

.book_button {
  background-color: #0171c5;
  color: white;
  padding: 1rem 1rem;
  transition: background-color 0.3s ease, transform 0.1s ease;
  border: none;
}

.book_button:hover {
  background-color: #1677c1;
  transform: scale(1.05);
  cursor: pointer;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 4em;
  height: 0.5em;
  background-color: black;
  margin: 5px 0;
}

@media (max-width: 880px) {
  .nav_container {
    background-color: black;
    flex-direction: column;
    color: white;
    width: 100%;
    padding: 3rem 1rem;
    position: absolute;
    top: 139.5px;
    z-index: 1;
    right: 0;
  }

  .hamburger {
    display: flex;
  }
  .close {
    display: none;
  }
}
