.about_container {
  background-color: #f7f7f7;
  padding: 5rem 5rem;
  display: flex;
  justify-content: center;

  gap: 50px;
}

.about_container img {
  width: 50%;
  height: auto;
}

.about_text {
  font-size: 1vw;
}

.about_text h1 {
  font-size: 60px;
  margin: 0;
}

.button {
  background-color: #0171c5;
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
